<!--
http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
http://www.thymeleaf.org/doc/articles/layouts.html
https://github.com/ultraq/thymeleaf-layout-dialect
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">
    <style>
        .input {
            margin-top: 20px;
        }
    </style>
  <head>
    <title>Content title</title>
  </head>
  <body>
    <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
    <div class="container">
        <div layout:fragment="content">
            <div class="panel" style="margin-top: 5em;">
                <form role="form" class="form-horizontal" th:action="@{'/Orders/Add/'}" method="POST">
                    <div class="form-group">
                        <label for="customer" class="control-label col-md-5">Klient</label> 
                        <div class="col-md-7">
                           <select name="customer" class="form-control" onchange="PostFormTo(this, 'Orders', 'Add', 'CustomerSet')">
                           <option th:each="cus : ${Customers}"
                                   th:value="${cus.customerId}"
                                   th:text="${cus.companyName}"
                                   th:selected="${cus == order.customers}">
                           </option>
                           </select>
                        </div>
                        <br />
                        
                        <label for="address" class="control-label col-md-5">Adres</label> 
                        <div class="col-md-7">
                            <input name="address" th:value="${order.shipAddress}" class="form-control" readonly="true"/> 
                        </div>
                        
                        <label for="city" class="control-label col-md-5">Miasto</label> 
                        <div class="col-md-7">
                            <input name="city" th:value="${order.shipCity}" class="form-control" readonly="true"/> 
                        </div>
                        
                        <label for="region" class="control-label col-md-5">Region</label> 
                        <div class="col-md-7">
                            <input name="region" th:value="${order.shipRegion}" class="form-control" readonly="true"/> 
                        </div>
                        
                        <label for="postalCode" class="control-label col-md-5">Kod pocztowy</label> 
                        <div class="col-md-7">
                            <input name="postalCode" th:value="${order.shipPostalCode}" class="form-control" readonly="true"/> 
                        </div>
                        
                        <label for="country" class="control-label col-md-5">Kraj</label> 
                        <div class="col-md-7">
                            <input name="country" th:value="${order.shipCountry}" class="form-control" readonly="true"/> 
                        </div>
                       
                        <label for="shipper" class="control-label col-md-5">Dostawca</label> 
                        <div class="col-md-7">
                           <select name="shipper" class="form-control">
                           <option th:each="ship : ${Shippers}"
                                   th:value="${ship.shipperId}"
                                   th:text="${ship.companyName}">
                           </option>
                           </select>
                        </div>
                        <br />
                                        
                        <label for="employee" class="control-label col-md-5">Pracownik odpowiedzialny za zamówienie</label> 
                        <div class="col-md-7">
                           <select name="employee" class="form-control">
                           <option th:each="employee : ${Employees}"
                                   th:value="${employee.employeeId}"
                                   th:text="${employee.firstName}+' '+${employee.lastName}">
                           </option>
                           </select>
                        </div>

                        <label for="orderDate" class="control-label col-md-5">Data zamówienia</label>
                        <div class="col-md-7">
                            <input id="orderDate" name="orderDate" class="form-control" readonly="true"/>
                        </div>
                        
<!--                        <label for="shippedDate" class="control-label col-md-5">Data wysłania</label>
                        <div class="col-md-7">
                            <input id="shippedDate" name="shippedDate" class="form-control"/>
                        </div>-->
                       
                       <label for="submit" class="control-label col-md-5"></label>
                       <div class="col-md-7">
                           <input type="submit" class="btn btn-default" />
                       </div>
                    </div>
                </form>
                <script>
                    $( document ).ready( function() { 
                        $( '#orderDate' ).datepicker( {dateFormat: 'yy/mm/dd'} );
                        var d = new Date();
                        var strDate = d.getFullYear() + "/" + (d.getMonth()+1) + "/" + d.getDate();
                        $( '#orderDate' ).val(strDate);
                    } );

//                    $( document ).ready( function() { 
//                        $( '#shippedDate' ).datepicker( {dateFormat: 'yy/mm/dd'} );
//                    } );
                </script>
            </div>
        </div>
    </div>
  </body>
</html>
