<!--
http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
http://www.thymeleaf.org/doc/articles/layouts.html
https://github.com/ultraq/thymeleaf-layout-dialect
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">
<!--    <style>
        .input {
            margin-top: 20px;
        }
    </style>-->
  <head>
    <title>Content title</title>
  </head>
  <body onload="setPrice()">
    <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
    <div class="container">
        <div layout:fragment="content">
            <div class="panel" style="margin-top: 5em;">
                <form role="form" class="form-horizontal" th:action="@{'/Orders/Edit/' + ${order.orderId}}" method="POST">
                    <div class="form-group">
                        <label for="orderId" class="control-label col-md-5">ID zamówienia</label>
                        <div class="col-md-7">
                            <input name="orderId" th:value="${order.orderId}" class="form-control" readonly="true"/>
                        </div>
                        <br />
                        
                        <label for="customer" class="control-label col-md-5">Klient</label> 
                        <div class="col-md-7">
                           <select name="customer" class="form-control" onchange="PostFormTo(this, 'Orders', 'Edit', null)">
                           <option th:each="cus : ${Customers}"
                                   th:value="${cus.customerId}"
                                   th:text="${cus.companyName}"
                                   th:selected="${cus == order.customers}">
                           </option>
                           </select>
                        </div>
                        <br />
                        
                        <label for="address" class="control-label col-md-5">Adres</label> 
                        <div class="col-md-7">
                            <input name="address" th:value="${order.shipAddress}" class="form-control" readonly="true"/> 
                        </div>
                        
                        <label for="city" class="control-label col-md-5">Miasto</label> 
                        <div class="col-md-7">
                            <input name="city" th:value="${order.shipCity}" class="form-control" readonly="true"/> 
                        </div>
                        
                        <label for="region" class="control-label col-md-5">Region</label> 
                        <div class="col-md-7">
                            <input name="region" th:value="${order.shipRegion}" class="form-control" readonly="true"/> 
                        </div>
                        
                        <label for="postalCode" class="control-label col-md-5">Kod pocztowy</label> 
                        <div class="col-md-7">
                            <input name="postalCode" th:value="${order.shipPostalCode}" class="form-control" readonly="true"/> 
                        </div>
                        
                        <label for="country" class="control-label col-md-5">Kraj</label> 
                        <div class="col-md-7">
                            <input name="country" th:value="${order.shipCountry}" class="form-control" readonly="true"/> 
                        </div>
                       
                        <label for="shipper" class="control-label col-md-5">Dostawca</label> 
                        <div class="col-md-7">
                           <select name="shipper" class="form-control">
                           <option th:each="ship : ${Shippers}"
                                   th:value="${ship.shipperId}"
                                   th:text="${ship.companyName}"
                                   th:selected="${ship == order.shippers}">
                           </option>
                           </select>
                        </div>
                        <br />
                                        
                        <label for="employee" class="control-label col-md-5">Pracownik odpowiedzialny za zamówienie</label> 
                        <div class="col-md-7">
                           <select name="employee" class="form-control">
                           <option th:each="employee : ${Employees}"
                                   th:value="${employee.employeeId}"
                                   th:text="${employee.firstName}+' '+${employee.lastName}"
                                   th:selected="${employee == order.employees}">
                           </option>
                           </select>
                        </div>

                        <label for="orderDate" class="control-label col-md-5">Data zamówienia</label>
                        <div class="col-md-7">
                            <input id="orderDate" name="orderDate" th:value="${#calendars.format(order.orderDate, 'yyyy/MM/dd')}" class="form-control"/>
                        </div>
                            
                        <label for="shippedDate" class="control-label col-md-5">Data wysłania</label>
                        <div class="col-md-7">
                            <input id="shippedDate" name="shippedDate" th:if="${order.shippedDate != null}" th:value=" ${#calendars.format(order.shippedDate, 'yyyy/MM/dd')}" class="form-control"/>
                            <input id="shippedDate" name="shippedDate" th:if="${order.shippedDate == null}" class="form-control"/>
                        </div>
                        
                        <table class="table table-bordered table-striped col-md-8 col-offset-2" style="margin-top: 3em;">
                        <thead>
                          <tr>
                            <td>Produkt</td>
                            <td>Ilość</td>
                            <td>Cena jedn.</td>
                            <td></td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr th:each="det : ${orderDetails}">
                              <td th:text="${det.products.productName}"></td>
                              <td th:text="${det.quantity}" style="text-align: center;"></td>
                              <td th:text="${#numbers.formatDecimal(det.products.unitPrice, 0, 2, 'POINT')}" style="text-align: center;"></td>
                              <td style="text-align: center;"><a href="#" th:name="${'usun' + det.id.orderId + '_' + det.id.productId}" th:onclick="|PostFormTo(this, 'Orders', 'Edit', '${det.id.orderId + '/' + det.id.productId}')|">Usuń</a></td>
                          </tr>
                          <tr>
                            <td>
                                <select id="product" name="product" class="form-control" style="width: 350px;">
                                    <option th:each="pr : ${Products}"
                                        th:value="${pr.productId}"
                                        th:text="${pr.productName}"
                                        th:attr="price=${#numbers.formatDecimal(pr.unitPrice, 0, 2, 'POINT')}">
                                    </option>
                                </select>
                            </td>
                            <td>
                                <input id="qunatity" name="quantity" class="form-control" style="margin: auto; width: 50px" /> 
                            </td>
                              <td><input name="uprice" id="uprice" readonly="true" class="form-control" style="width: 70px; margin: auto;" /></td>
                            <td style="text-align: center;">
                                <a href="#" name="dodaj" style="margin: auto;" th:onclick="|PostFormTo(this, 'Orders', 'Edit/AddProduct', '${order.orderId}')|">Dodaj</a>
                            </td>
                          </tr>
                        </tbody>
                        </table>
                       
                       <label for="submit" class="control-label col-md-5"></label>
                       <div class="col-md-7">
                           <input type="submit" class="btn btn-default" />
                       </div>
                    </div>
                </form>
                <div><h3>Razem: </h3><h3 th:text="${price}"></h3> </div>
                <script>
                    $( document ).ready( function() { 
                        $( '#orderDate' ).datepicker( {dateFormat: 'yy/mm/dd'} );
                    } );

                    $( document ).ready( function() { 
                        $( '#shippedDate' ).datepicker( {dateFormat: 'yy/mm/dd'} );
                    } );

                    $('#product').change( function(){
                        var element = $(this).find('option:selected'); 
                        var price = element.attr("price");
                        $( '#uprice' ).val(price);
                    } );
                </script>
            </div>
        </div>
    </div>
  </body>
</html>
