<!--
http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
http://www.thymeleaf.org/doc/articles/layouts.html
https://github.com/ultraq/thymeleaf-layout-dialect
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">
  <head>
    <title>Content title</title>
  </head>
  <body>
    <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
    <div class="container">
        <div layout:fragment="content" class="przesun">
          <a href="/Orders/Add" class="btn btn-default">Add</a>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <td>ID</td>
                <td>Nazwa firmy zamawiającej</td>
                <td>Nazwa firmy dostarczającej produkt</td>
                <td>Data zamówienia</td>
                <td>Data wysłania</td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr th:if="${Orders.empty}">
                <td colspan="4">No products</td>
              </tr>
              <tr th:each="order : ${Orders}">
                <td th:text="${order.orderId}"></td>
                <td th:text="${order.customers.companyName}"></td>
                <td th:text="${order.shippers.companyName}"></td>
                <td th:text="${order.orderDate != null} ? ${#calendars.format(order.orderDate, 'yyyy/MM/dd')} : ${'brak'}" style="text-align: center;"></td>
                <!--<td th:text="${#calendars.format(order.orderDate, 'yyyy/MM/dd')}" style="text-align: center;"></td>-->
                <td th:text="${order.shippedDate != null} ? ${#calendars.format(order.shippedDate, 'yyyy/MM/dd')} : ${'brak'}" style="text-align: center;"></td>
                <!--<td th:text="${order.shippedDate}" style="text-align: center;"></td>-->
                <td><a href="/index" th:href="@{'/Orders/Edit/' + ${order.orderId}}">Edit</a></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </body>
</html>
