<!--
http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
http://www.thymeleaf.org/doc/articles/layouts.html
https://github.com/ultraq/thymeleaf-layout-dialect
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">
  <head>
    <title>Content title</title>
  </head>
  <body>
    <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
    <div class="container">
        <div layout:fragment="content">
            <div class="panel" style="margin-top: 5em;">
                <form role="form" class="form-horizontal" th:action="@{'/Customers/Edit/' + ${cus.customerId}}" method="POST">
                    <div class="form-group">
                        <div class="alert alert-danger" th:if="${errors != null}" th:text="${'Coś się... coś się popsuło i nie mogliśmy zapisać danych do bazy więc może proszę powtórzyć'}"></div>
                        <label for="customerId" class="control-label col-md-3">ID klienta</label>
                        <div class="col-md-9">
                            <input name="customerId" th:value="${cus.customerId}" class="form-control" readonly="true"/>
                        </div>
                        
                        <label for="companyName" class="control-label col-md-3">Nazwa firmy</label>
                        <div class="col-md-9">
                            <input name="companyName" th:value="${cus.companyName}" class="form-control"/> 
                        </div>
                            
                        <label for="contactName" class="control-label col-md-3">Osoba kontaktowa</label> 
                        <div class="col-md-9">
                            <input name="contactName" th:value="${cus.contactName}" class="form-control"/> 
                        </div>
                        
                        <label for="contactTitle" class="control-label col-md-3">Tytuł osoby kontaktowej</label> 
                        <div class="col-md-9">
                            <input name="contactTitle" th:value="${cus.contactTitle}" class="form-control"/> 
                        </div>
                        
                        <label for="address" class="control-label col-md-3">Adres</label> 
                        <div class="col-md-9">
                            <input name="address" th:value="${cus.address}" class="form-control"/> 
                        </div>
                        
                        <label for="city" class="control-label col-md-3">Miasto</label> 
                        <div class="col-md-9">
                            <input name="city" th:value="${cus.city}" class="form-control"/> 
                        </div>
                        
                        <label for="region" class="control-label col-md-3">Region</label> 
                        <div class="col-md-9">
                            <input name="region" th:value="${cus.region}" class="form-control"/> 
                        </div>
                        
                        <label for="postalCode" class="control-label col-md-3">Kod pocztowy</label> 
                        <div class="col-md-9">
                            <input name="postalCode" th:value="${cus.postalCode}" class="form-control"/> 
                        </div>
                        
                        <label for="country" class="control-label col-md-3">Kraj</label> 
                        <div class="col-md-9">
                            <input name="country" th:value="${cus.country}" class="form-control"/> 
                        </div>
                        
                        <label for="phone" class="control-label col-md-3">Telefon</label> 
                        <div class="col-md-9">
                            <input name="phone" th:value="${cus.phone}" class="form-control"/> 
                        </div>
                        
                        <label for="fax" class="control-label col-md-3">Fax</label> 
                        <div class="col-md-9">
                            <input name="fax" th:value="${cus.fax}" class="form-control"/> 
                        </div>
                        <br />
                        
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <input type="submit" class="form-control" />
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>
