<!--
http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
http://www.thymeleaf.org/doc/articles/layouts.html
https://github.com/ultraq/thymeleaf-layout-dialect
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">
  <head>
    <title>Content title</title>
  </head>
  <body>
    <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
    <div class="container">
        <div layout:fragment="content" class="przesun">
          <a href="/Customers/Add" class="btn btn-default">Add</a>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <td>ID</td>
                <td>Nazwa firmy</td>
                <td>Imię i nazwisko os. kontaktowe</td>
                <td>Telefon</td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr th:if="${Customers.empty}">
                <td colspan="4">No customers</td>
              </tr>
              <tr th:each="customer : ${Customers}">
                <td th:text="${customer.customerId}"></td>
                <td th:text="${customer.companyName}"></td>
                <td th:text="${customer.contactName}"></td>
                <td th:text="${customer.phone}"></td>
                <td><a href="/index" th:href="@{'/Customers/Edit/' + ${customer.customerId}}">Edytuj</a></td>
                <td><a href="/index" th:href="@{'/Customers/Remove/' + ${customer.customerId}}">Usuń</a></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </body>
</html>
