<!--
http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
http://www.thymeleaf.org/doc/articles/layouts.html
https://github.com/ultraq/thymeleaf-layout-dialect
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">
    
  <head>
    <style>
        .input {
            margin-top: 20px;
        }
    </style>
    <title>Content title</title>
  </head>
  <body>
    <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
    <div class="container">
        <div layout:fragment="content">
            <div class="panel" style="margin-top: 5em;">
                <form role="form" class="form-horizontal" th:action="@{'/Products/Add'}" method="POST">
                    <div class="form-group">
                        <div class="alert alert-danger" th:if="${errors != null}" th:text="${'Coś się... coś się popsuło i nie mogliśmy zapisać danych do bazy więc może proszę powtórzyć'}"></div>
                        <label for="productName" class="control-label col-md-3">Nazwa produktu</label>
                        <div class="col-md-9">
                            <input name="productName" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="unitPrice" class="control-label col-md-3">Cena jednostkowa</label>
                        <div class="col-md-9">
                            <input name="unitPrice" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="unitsInStock" class="control-label col-md-3">Dostępna ilość</label>
                        <div class="col-md-9">
                            <input name="unitsInStock" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="unitsOnOrder" class="control-label col-md-3">Ilość aktualnie zamówionych</label>
                        <div class="col-md-9">
                            <input name="unitsOnOrder" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="reorderLevel" class="control-label col-md-3">Reorder level</label>
                        <div class="col-md-9">
                            <input name="reorderLevel" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="categories" class="control-label col-md-3">Kategoria</label> 
                        <div class="col-md-9">
                           <select name="categories" class="form-control">
                           <option th:each="cat : ${Categories}"
                                   th:value="${cat.categoryName}"
                                   th:text="${cat.categoryName}">
                           </option>
                           </select>
                       </div>
                        <br />
                        
                        <label for="discontinued" class="control-label col-md-3">Zakończono sprzedaż</label>
                        <div class="col-md-9">
                            <input type="checkbox" name="discontinued" class="checkbox" />
                        </div>
                        <br />
                        
                        <label for="submit" class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <input type="submit" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>
