<!--
http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
http://www.thymeleaf.org/doc/articles/layouts.html
https://github.com/ultraq/thymeleaf-layout-dialect
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">
  <head>
    <title>Content title</title>

  </head>
  <body onload="dodajBlank()">
    <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
    <div class="container">
        <div layout:fragment="content" class="przesun">
            <a href="/Products/Add" class="btn btn-default">Add</a>
            <form role="form" style=" margin-bottom: 10px;" method="POST" action="/Products/Index/Category">
              <div class="form-group">
                <label for="categories" class="control-label col-md-3">Kategoria</label> 
                <div class="col-md-9">
                    <select name="categories" class="form-control" onchange="this.form.submit()"> <!--th:onchange="|PostFormTo(this, 'Products', 'Index', 'Category'}')|" -->
                        <option value="-1" selected="selected">Wybierz kategorię!</option>
                        <option th:each="cat : ${Categories}"
                           th:value="${cat.categoryId}"
                           th:text="${cat.categoryName}"
                           th:selected="${ Products != null } ? ${cat.categoryId == catId}">
                       </option>
                    </select> 
                </div>
            </div>
        </form>
            <div th:if="${Products == null}" class="alert alert-info " style="margin-top: 70px; ">
                <h1>Wybierz kategorię</h1>
            </div>
            
            
          <div th:if="${Products != null}">
          <table class="table table-bordered table-striped" style="margin-top: 5em;">
            <thead>
              <tr>
                <td>ID</td>
                <td>Nazwa produktu</td>
                <td>Cena jednostkowa</td>
                <td>Ilość dostępnych sztuk</td>
                <td>Kategoria produktu</td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr th:each="product : ${Products}">
                <td th:text="${product.productId}"></td>
                <td th:text="${product.productName}"></td>
                <td th:text="${#numbers.formatDecimal(product.unitPrice, 0, 'COMMA', 2, 'POINT')}" style="text-align: right;"></td>
                <td th:text="${product.unitsInStock}" style="text-align: right;"></td>
                <td th:each="category: ${product.categories}"><div th:text="${category.categoryName}"></div></td>
                <td><a href="/index" th:href="@{'/Products/Edit/' + ${product.productId}}">Edit</a></td>
                <td><a href="/index" th:href="@{'/Products/Remove/' + ${product.productId}}">Remove</a></td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
    </div>
  </body>
</html>
