<!--
http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
http://www.thymeleaf.org/doc/articles/layouts.html
https://github.com/ultraq/thymeleaf-layout-dialect
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">
    <style>
        .input {
            margin-top: 20px;
        }
    </style>
  <head>
    <title>Content title</title>
  </head>
  <body>
    <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
    <div class="container">
        <div layout:fragment="content">
            <div class="panel" style="margin-top: 5em;">
                <form role="form" class="form-horizontal" th:action="@{'/Shippers/Add'}" method="POST">
                    <div class="form-group">                    
                        <div class="alert alert-danger" th:if="${errors != null}" th:text="${'Coś się... coś się popsuło i nie mogliśmy zapisać danych do bazy więc może proszę powtórzyć'}"></div>
                        <label for="companyName" class="control-label col-md-3">Nazwa firmy</label>
                        <div class="col-md-9">
                            <input id="companyName" name="companyName" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="phone" class="control-label col-md-3">Telefon</label>
                        <div class="col-md-9">
                            <input id="phone" name="phone" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="submit" class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <input type="submit" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>
