<!--
http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
http://www.thymeleaf.org/doc/articles/layouts.html
https://github.com/ultraq/thymeleaf-layout-dialect
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">
  <head>
    <title>Content title</title>
  </head>
  <body>
    <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
    <div class="container">
        <div layout:fragment="content" class="przesun">
          <a href="/Shippers/Add" class="btn btn-default">Add</a>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <td>ID</td>
                <td>Company Name</td>
                <td>Phone</td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr th:if="${Shippers.empty}">
                <td colspan="4">No Shippers</td>
              </tr>
              <tr th:each="shipper: ${Shippers}">
                <td th:text="${shipper.shipperId}"></td>
                <td th:text="${shipper.companyName}"></td>
                <td th:text="${shipper.phone}"></td>
                <td><a href="/index" th:href="@{'/Shippers/Edit/' + ${shipper.shipperId}}">Edit</a></td>
                <td><a href="/index" th:href="@{'/shippers/Remove/' + ${shipper.shipperId}}">Remove</a></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </body>
</html>
