<!--
http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
http://www.thymeleaf.org/doc/articles/layouts.html
https://github.com/ultraq/thymeleaf-layout-dialect
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">
  <head>
    <title>Content title</title>
  </head>
  <body>
    <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
    <div class="container">
        <div layout:fragment="content">
            <div class="panel" style="margin-top: 5em;">
                <form id="form" role="form" class="form-horizontal" th:action="@{'/Categories/Edit/' + ${cat.categoryId}}" method="POST">
                    <div class="form-group">
                         <div class="alert alert-danger" th:if="${errors != null}" th:text="${'Coś się... coś się popsuło i nie mogliśmy zapisać danych do bazy więc może proszę powtórzyć'}"></div>
                        <label for="categoryId" class="control-label col-md-3">ID kategorii</label>
                        <div class="col-md-9">
                            <input type="text" name="categoryId" th:value="${cat.categoryId}" class="form-control" readonly="true"/>
                        </div>

                        <label for="categoryName" class="control-label col-md-3">Nazwa kategorii</label>
                        <div class="col-md-9">
                            <input type="text" name="categoryName" th:value="${cat.categoryName}" class="form-control"/>
                        </div>

                        <label for="categoryDescription" class="control-label col-md-3">Opis kategorii</label><br />
                        <div class="col-md-9">
                            <input type="text" name="description" class="form-control" th:value="${cat.description}" />
                        <br />
                        </div>
                        <br />
                        
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                            <input name="submit" value="Submit" type="submit" class="form-control" />
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </body>
</html>
