<!--
http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
http://www.thymeleaf.org/doc/articles/layouts.html
https://github.com/ultraq/thymeleaf-layout-dialect
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">
  <head>
    <title>Content title</title>
  </head>
  <body>
    <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
    <div class="container">
        <div layout:fragment="content" class="przesun">
          <a href="/Categories/Add" class="btn btn-default">Add</a>
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <td>ID</td>
                <td>Nazwa kategorii</td>
                <td>Opis kategorii</td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr th:if="${Categories.empty}">
                <td colspan="4">No categories</td>
              </tr>
              <tr th:each="category : ${Categories}">
                <td th:text="${category.categoryId}"></td>
                <td th:text="${category.categoryName}"></td>
                <td th:text="${category.description}"></td>
                <td><a href="/index" th:href="@{'/Categories/Edit/' + ${category.categoryId}}">Edytuj</a></td>
                <td><a href="/index" th:href="@{'/Categories/Remove/' + ${category.categoryId}}">Usuń</a></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </body>
</html>
