<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css" 
              th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" 
              rel="stylesheet" media="screen" />
    
    </head>
    <body>
        <div th:fragment="footer" style="clear: left; bottom: 0px;">
            &copy; Marcin Paliwoda 2016
        </div>
        <div th:fragment="footer-admin">
            &copy; 
        </div>
    </body>
</html>