<!--
http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
http://www.thymeleaf.org/doc/articles/layouts.html
https://github.com/ultraq/thymeleaf-layout-dialect
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Layout title</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css/bootstrap.min.css" 
          th:href="@{/webjars/bootstrap/3.2.0/css/bootstrap.min.css}" 
          rel="stylesheet" media="screen" />

    <!--<script src="http://code.jquery.com/jquery-latest.js"></script>-->
    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.1/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.1/jquery.min.js}"></script>        
    
    <script src=""
            th:src="@{/webjars/jquery-ui/1.10.3/ui/jquery-ui.js}"></script>        
    
    <link href="" 
          th:href="@{/webjars/jquery-ui/1.10.3/themes/base/jquery-ui.css}" 
          rel="stylesheet" media="screen" />
    
    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.2.0/css//bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.2.0/js/bootstrap.min.js}"></script>
    
    <script src="/static/utilities.js"></script>
    <style>
        .przesun {
            margin-top: 75px;
        }
        /* make sidebar nav vertical */ 
    </style>
  </head>

  <body>
    <!--/* Standard layout can be mixed with Layout Dialect */-->
    <div th:replace="fragments/header :: header">
      ...
    </div>
    <div class="container">
      <div layout:fragment="content">
        <!-- ============================================================================ -->
        <!-- This content is only used for static prototyping purposes (natural templates)-->
        <!-- and is therefore entirely optional, as this markup fragment will be included -->
        <!-- from "fragments/header.html" at runtime.                                     -->
        <!-- ============================================================================ -->
        <h1>Static content for prototyping purposes only</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
          Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
          Phasellus et placerat elit.
        </p>
      </div>
      <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
    </div>
  </body>
</html>
