<!--
http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
http://www.thymeleaf.org/doc/articles/layouts.html
https://github.com/ultraq/thymeleaf-layout-dialect
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">

  <head>
    <title>Content title</title>
  </head>
  <body>
    <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
    <div class="container">
        <div layout:fragment="content">
            <div class="panel" style="margin-top: 5em;">
                <form role="form" class="form-horizontal" th:action="@{'/Employees/Add/'}" method="POST">
                    <div class="form-group">                       
                        <div class="alert alert-danger" th:if="${errors != null}" th:text="${'Coś się... coś się popsuło i nie mogliśmy zapisać danych do bazy więc może proszę powtórzyć'}"></div>                        <label for="lastName" class="control-label col-md-3">Nazwisko</label>
                        <div class="col-md-9">
                            <input name="lastName" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="firstName" class="control-label col-md-3">Imie</label>
                        <div class="col-md-9">
                            <input name="firstName" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="title" class="control-label col-md-3">Tytuł</label>
                        <div class="col-md-9">
                            <input name="title" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="titleOfCourtesy" class="control-label col-md-3">Tyt.</label>
                        <div class="col-md-9">
                            <input name="titleOfCourtesy" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="birthDate" class="control-label col-md-3">Data urodzenia</label>
                        <div class="col-md-9">
                            <input id="birthDate" name="birthDate" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="hireDate" class="control-label col-md-3">Data przyjęcia</label>
                        <div class="col-md-9">
                            <input id="hireDate" name="hireDate" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="address" class="control-label col-md-3">Adres</label>
                        <div class="col-md-9">
                            <input name="address" class="form-control"/>
                        </div>
                        <br />
 
                        <label for="city" class="control-label col-md-3">Miasto</label>
                        <div class="col-md-9">
                            <input name="city" class="form-control"/>
                        </div>
                        <br />
 
                        
                        <label for="region" class="control-label col-md-3">Region</label>
                        <div class="col-md-9">
                            <input name="region" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="postalCode" class="control-label col-md-3">Kod pocztowy</label>
                        <div class="col-md-9">
                            <input name="postalCode" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="country" class="control-label col-md-3">Kraj</label>
                        <div class="col-md-9">
                            <input name="country" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="homePhone" class="control-label col-md-3">Telefon Domowy</label>
                        <div class="col-md-9">
                            <input name="homePhone" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="notes" class="control-label col-md-3">Notatki</label>
                        <div class="col-md-9">
                            <input name="notes" class="form-control"/>
                        </div>
                        <br />
                        
                        <label for="submit" class="control-label col-md-3"></label>
                        <div class="col-md-9">
                            <input type="submit" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div>
            <script>
                $( document ).ready( function() { 
                    $( '#birthDate' ).datepicker( {dateFormat: 'yy/mm/dd'} );
                } );
                
                $( document ).ready( function() { 
                    $( '#hireDate' ).datepicker( {dateFormat: 'yy/mm/dd'} );
                } );
            </script>
        </div>
    </div>
  </body>
</html>
