<!--
http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
http://www.thymeleaf.org/doc/articles/layouts.html
https://github.com/ultraq/thymeleaf-layout-dialect
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">

    <head>
        <title>Content title</title>
    </head>
    <body>
        <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
        <div class="container">
            <div layout:fragment="content">
                <div class="panel" style="margin-top: 7em;">
                    <form role="form" class="form-horizontal" th:action="@{'/Employees/Edit/' + ${em.employeeId}}" method="POST">
                        <div class="form-group">
                            <div class="alert alert-danger" th:if="${errors != null}" th:text="${'Coś się... coś się popsuło i nie mogliśmy zapisać danych do bazy więc może proszę powtórzyć'}"></div>
                            <label for="employeeId" class="control-label col-md-3">ID produktu</label>
                            <div class="col-md-7">
                                <input name="employeeId" th:value="${em.employeeId}" class="form-control" readonly="true"/>
                            </div>
                            <br />

                            <label for="lastName" class="control-label col-md-3">Nazwisko</label>
                            <div class="col-md-7">
                                <input name="lastName" th:value="${em.lastName}" class="form-control"/>
                            </div>
                            <br />

                            <label for="firstName" class="control-label col-md-3">Imie</label>
                            <div class="col-md-7">
                                <input name="firstName" th:value="${em.firstName}" class="form-control"/>
                            </div>
                            <br />

                            <label for="title" class="control-label col-md-3">Tytuł</label>
                            <div class="col-md-7">
                                <input name="title" th:value="${em.title}" class="form-control"/>
                            </div>
                            <br />

                            <label for="titleOfCourtesy" class="control-label col-md-3">Tyt.</label>
                            <div class="col-md-7">
                                <input name="titleOfCourtesy" th:value="${em.titleOfCourtesy}" class="form-control"/>
                            </div>
                            <br />

                            <label for="birthDate" class="control-label col-md-3">Data urodzenia</label>
                            <div class="col-md-7">
                                <input id="birthDate" name="birthDate" th:value="${#calendars.format(em.birthDate, 'yyyy/MM/dd')}" class="form-control"/>
                            </div>
                            <br />

                            <label for="hireDate" class="control-label col-md-3">Data przyjęcia</label>
                            <div class="col-md-7">
                                <input id="hireDate" name="hireDate" th:value="${#calendars.format(em.hireDate, 'yyyy/MM/dd')}" class="form-control"/>
                            </div>
                            <br />

                            <label for="address" class="control-label col-md-3">Adres</label>
                            <div class="col-md-7">
                                <input name="address" th:value="${em.address}" class="form-control"/>
                            </div>
                            <br />

                            <label for="city" class="control-label col-md-3">Miasto</label>
                            <div class="col-md-7">
                                <input name="city" th:value="${em.city}" class="form-control"/>
                            </div>
                            <br />


                            <label for="region" class="control-label col-md-3">Region</label>
                            <div class="col-md-7">
                                <input name="region" th:value="${em.region}" class="form-control"/>
                            </div>
                            <br />

                            <label for="postalCode" class="control-label col-md-3">Kod pocztowy</label>
                            <div class="col-md-7">
                                <input name="postalCode" th:value="${em.postalCode}" class="form-control"/>
                            </div>
                            <br />

                            <label for="country" class="control-label col-md-3">Kraj</label>
                            <div class="col-md-7">
                                <input name="country" th:value="${em.country}" class="form-control"/>
                            </div>
                            <br />

                            <label for="homePhone" class="control-label col-md-3">Telefon Domowy</label>
                            <div class="col-md-7">
                                <input name="homePhone" th:value="${em.homePhone}" class="form-control"/>
                            </div>
                            <br />

                            <label for="notes" class="control-label col-md-3">Notatki</label>
                            <div class="col-md-7">
                                <input name="notes" th:value="${em.notes}" class="form-control" />
                            </div>
                            <br />

                            <label for="submit" class="control-label col-md-3"></label>
                            <div class="col-md-7">
                                <input type="submit" class="btn btn-default" />
                            </div>
                        </div>
                    </form>
                </div>
                <script>
                    $(document).ready(function () {
                        $('#birthDate').datepicker({dateFormat: 'yy/mm/dd'});
                    });

                    $(document).ready(function () {
                        $('#hireDate').datepicker({dateFormat: 'yy/mm/dd'});
                    });
                </script>
            </div>
        </div>
    </body>
</html>
