<!--
http://www.thymeleaf.org/doc/tutorials/2.1/usingthymeleaf.html
http://www.thymeleaf.org/doc/articles/layouts.html
https://github.com/ultraq/thymeleaf-layout-dialect
-->

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
      layout:decorator="layout">
  <head>
    <title>Content title</title>
    <style>
        td {
            width: auto;
        }
     </style>
  </head>
  <body>
    <!-- /* Content of this page will be decorated by the elements of layout.html (layout) */ -->
    <div class="container">
        <div layout:fragment="content" class="przesun  col-xs-8 col-xs-offset-2">
          <a href="/Employees/Add" class="btn btn-default">Add</a><br />
          <table class="table table-bordered table-striped">
            <thead>
              <tr>
                <td>ID</td>
                <td>Stanowisko</td>
                <td>Imię i Nazwisko</td>
                <td>Data urodzenia</td>
                <td></td>
                <td></td>
              </tr>
            </thead>
            <tbody>
              <tr th:if="${Employees.empty}">
                <td colspan="4">No employees</td>
              </tr>
              <tr th:each="employee : ${Employees}">
                <td th:text="${employee.employeeId}">1</td>
                <td th:text="${employee.title}"></td>
                <td th:text="${employee.firstName + ' ' + employee.lastName}"></td>
                <td th:text="${#calendars.format(employee.birthDate, 'yyyy/MM/dd')}"></td>
                <td><a href="/index" th:href="@{'/Employees/Edit/' + ${employee.employeeId}}">Edytuj</a></td>
                <td><a href="/index" th:href="@{'/Employees/Remove/' + ${employee.employeeId}}">Usuń</a></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </body>
</html>
